.Home{
    display: flex;
    height: 1000px;
    background-image: url(https://s3.amazonaws.com/cms.ipressroom.com/173/files/20198/5d72b4772cfac209ff04c634_Royce+Quad/Royce+Quad_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
