.h1{
    display: 'flex';
    justify-content: 'Center';
    align-items: 'Left';
    font-size: 2vw !important;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.item {
    flex-basis: calc(33.33% - 15px);
    background-color: #FFC000;
    margin-bottom: 20px;
    color : white;
}

.item img{
    width: auto;
    height: 35vh;
    flex: 50%;
    margin-top: 15px;
}

.itemInfo{
    flex: 50%;
}

.itemInfo h2{
    font-size: 100%;
}

.itemInfo p{
}

@media (max-width: 768px) {
    .item {
      flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
.item {
    flex: 0 0 100%;
}
}