form {
    position: absolute;
    height: 10vh;
    bottom: 0;
    background-color: rgb(210, 202, 107);
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 20%;
    background-color: #FFC000;
  }
  
  button {
    background-color: #282c34; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }

 input {
      line-height: 1.5;
      width: 100%;
      font-size: 1.5rem;
      background: #071330;
      color: #FFC000;
      outline: none;
      border-radius: 10px;
      padding: 5 5px;
      height: 50px;
  }

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.err{
    color: red;
}

.signedup {
    padding: 20px;
}