.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.error__label{
    width: 40%;
    color: red;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.loginsuccess {
    padding: 20px;
}

button.marketplace {
    background-color: transparent;
    color: black;
    padding:0.5%;
    font-weight: bold;
    font-size: 1.5rem;
}

button.marketplace:hover {
    background-color: transparent;
    color: #FFC000;
    padding:0.5%;
    font-weight: bold;
}

button.profile {
    background-color: transparent;
    color: black;
    padding:0.5%;
    font-weight: bold;
    font-size: 1.5rem;
}

button.profile:hover {
    background-color: transparent;
    color: #FFC000;
    padding:0.5%;
    font-weight: bold;
}